<html lang="fi">

<meta charset="UTF-8">
<title>Peltoraportti</title>
<head>
</head>
<body id="alku">
<h1>Peltoraportti</h1>
<p>Peltodata-palvelu on tarkoitettu erilaisten beta-vaiheessa olevien analyysien ja algoritmien kehittämiseen ja
  testaamiseen niiden eri
  vaiheissa, jotta esim. hankkeissa tehty työ tulisi näkyväksi viljelijöille ja se tulisi nopeammin käytäntöön myös
  muihin palveluihin.
  Tavoitteena on tukea digitalisaation tulemista maatalouteen ja tukea datalähtöistä maataloutta.
  Peltodata-palvelulla ei ole kaupallisia tavoitteita, sen sijaan kaikki kehitetty pyritään jakamaan avoimesti myös
  muiden käyttöön. </p>
<p>
  Peltoraportti on koostettu useista eri avoimista datalähteistä: Sentinel, Maanmittauslaitos, Ruokavirasto,
  Geologian tutkimuslaitos, Ilmatieteenlaitos sekä yksittäiset muut lähteet. Mikäli maatila kuuluu pilottitiloihin, niin
  silloin raportti sisältää myös tilan omia ei julkisia datoja. Raportin tiedot päivittyvät vähitellen, joiden
  aikatauluarviot
  on annettu kunkin teeman alle.
</p>
<div>
  <strong><a id="sisallys"></a>Sisällys:</strong>
  <ul>
    <li><a href="#topic0">Perustiedot</a></li>
    <li><a href="#topic1">Vyöhykekartta</a></li>
    <li><a href="#topic2">Sääraportti</a></li>
    <li><a href="#topic3">Ortokuvat</a></li>
    <li><a href="#topic4">Korkeuskartat</a></li>
    <li><a href="#topic5">Maalajikartat</a></li>
    <li><a href="#topic6">Satokartta</a></li>
    <li><a href="#topic7">Sensorit</a></li>
    <li><a href="#topic8">Maanäytteet</a></li>
    <li><a href="#topic9">Lajikkeet</a></li>
    <li><a href="#topic10">Skannaukset</a></li>
    <li><a href="#topic11">Drone</a>
  </ul>
</div>

<h3><a id="topic0"></a>Perustiedot</h3>
<div>
  <div>
    Maatila: {{ farmId }} koostuu alla olevista peltolohkoista.
  </div>
  <div>
    {{#if farmFields}}
      <img loading="lazy" src="{{ farmFieldsData }}"/>
    {{/if}}
  </div>
</div>

<h3><a id="topic1"></a>Vyöhykekartta</h3>
<div>
  <p>
    Vyöhykekartta koostuu koko kasvukauden NDVI ja NDMI aineistoista, jotka on ladattu Sentinel-satelliitista useamman
    vuoden ajalta. Vyöhykekarttojen avulla nähdään sadon kasvaminen eri vuosina. Tekoälyalgoritmin avulla on haettu
    sopiva määrä
    vyöhykkeitä. Yleensä vyöhykkeitä on 3-5. Mikäli pelto on kasvustoltaan tasainen, niin pellon vyöhykkeiden määrä
    vähenee ja erot
    vyöhykkeiden välillä ovat pieniä. Mikäli peltolohkon sisäinen kasvuvaihtelu on hyvin suurta, niin silloin
    kasvuvyöhykkeitä on
    useampi ja niiden välinen ero on suurempi.
  </p>
  <p>
  <div>
    Vyöhykkekartoista voidaan tulkita seuraavia asioita:
    <ul>
      <li>Erotetaan lohkon sisäinen kasvuvaihtelu: huono - keskimääräinen - hyvä</li>
      <li>Useampaa kasvukautta vertaamalla löydetään kehityskohteet, eli esim. aina huonosti kasvavat alueet</li>
      <li>Paikannetaan sopivat maaperänäytteiden ottopisteet, esim. hyvän ja huonon kasvuvyöhykkeen keskeltä</li>
      <li>Paikannetaan sopivat sensorien asennuspaikat</li>
      <li>Karttojen avulla voi yrittää hakea myös syitä siihen, miksi tiettyinä vuosina kasvu ei ole onnistunut</li>
    </ul>
  </div>
  <p>
    Esim. tiettyinä vuosina alkukesän kuivuus on estänyt kasvuston hyvän kasvun, johtuen maaperän
    rakenteesta/maalajeista
  </p>
  <p>
    Julkaisu: Vyöhykekartat julkaistaan kirjautuneen käyttäjän peltoraporttiin alustavan arvion mukaan 23.10.2021.
    Esimerkkejä löytyy demoraporteista. Julkaisun jälkeen käyttäjiltä odotetaan palautetta ja kehitysideoita.
  </p>

  {{#each segments}}
    <div>
      <div>Pelto: {{ this.fieldId }} - Vuosi: {{ this.year }} {{ this.type }}</div>
      <img loading="lazy" src="{{this.data}}"/>
    </div>
  {{/each}}
</div>


<h3><a id="topic2"></a>Sääraportti</h3>
<p>
  Sääraportin avulla saa tiedon maatilaa lähimmästä Ilmatieteenlaitoksen sääasemasta. Mikäli sääasema on riittävän
  lähellä
  maatilaa,
  sen luotettavan datan avulla voidaan laskea erilaisia sääkaavioita. Sääasemia löytyy kuitenkin paljon muitakin, mutta
  Ilmatieteenlaitoksen
  data on helppo aloituspiste. Jotkut sääasemavalmistajat tarjoavat globaalisti julkaistavia listoja sääasemista,
  joita yksityiset ovat julkaisseet. Omalla sääasemalla saadaan tarkin mikrosää. Silloinkin kannattaa tarkistaa,
  että saako datan rajapinnan kautta, jotta sitä voi myöhemmin yhdistää eri palveluihin.
</p>
<div>
  Sääraportissa julkaistaan seuraavat tiedot:
  <ul>
    <li>Maatilaa lähin Ilmatieteenlaitoksen sääasema</li>
    <li>Lämpökertymä useammalta kesältä</li>
    <li>Lämpötilan muutokset ja niiden vaihtelut</li>
    <li>Sadekertymät</li>
  </ul>
</div>
<p>
  Julkaisu: Sääraportti julkaistaan kirjautuneen käyttäjän peltoraporttiin alustavan arvion mukaan 15.11.2021.
  Esimerkkejä
  löytyy demoraporteista.
</p>
<p>
  Julkaisun jälkeen käyttäjiltä odotetaan palautetta ja kehitysideoita.
</p>

{{#if farmWeatherLong }}
  <div>
    <img loading="lazy" src="{{ farmWeatherLongData }}"/>
  </div>
{{/if}}
{{#each farmWeatherYearly }}
  <div>
    <h4>{{ this.year }}</h4>
    <img loading="lazy" src="{{ this.data }}"/>
  </div>
{{/each}}
{{#if farmWeatherTempsum }}
  <div>
    <img loading="lazy" src="{{ farmWeatherTempsumData }}"/>
  </div>
{{/if}}


<h3><a id="topic3"></a>Ortokuvat</h3>
<div>
  <div>
    <p>
      Ortokuvia on saatavilla useilta eri vuosilta. Ortokuvat on otettu kaukokartoituslennoilla, joita
      Maanmittauslaitos on toteuttanut Suomessa jo vuosikymmenien ajan.
    </p>
    <p>
    <div>Ortokuvista voi nähdä useita eri asioita:</div>
    <ul>
      <li>Pellon sisäistä vaihtelua, esim. vaaleat ja tummat alueet pellossa kertovat vihjeitä pellosta</li>
      <li>Salaojien sijainnit (harvoja tapauksia)</li>
      <li>Pellon historiaa (esim. raivaus, tai avo-ojitus)</li>
    </ul>
    <p>
      Haasteena ortokuvien automaattisessa analysoinnissa on, ettei niistä ole metatietoa helposti saatavilla,
      jolloin analysointi voihtaisiin kohdistaa vain tiettyihin ajankohtiin.
    </p>
    <p>
      Julkaisu: Ortokuvat julkaistaan kirjautuneen käyttäjän peltoraporttiin alustavan arvion mukaan 15.12.2021.
      Esimerkkejä löytyy demoraporteista. Julkaisun jälkeen käyttäjiltä odotetaan palautetta ja kehitysideoita.
    </p>
  </div>
  {{#each orthos}}
    <div>
      <div>Pelto: {{ this.fieldId }} - Vuosi: {{ this.year }} </div>
      <img loading="lazy" src="{{this.data}}"/>
    </div>
  {{/each}}
</div>

<h3><a id="topic4"></a>Korkeuskartat</h3>
<div>
  <p>
    Korkeuskartat perustuvat Lidar-kuvauksiin, joita Maanmittauslaitos on toteuttanut kaukokartoituksissa.
    Käytännössä koko Suomi on Lidar-kuvattu kertaalleen. Seuraavat kuvaukset ovat entistä tarkempia.
  </p>
  <div>
    Lidar-datoista voidaan tehdä erilaisia karttoja, joista voi puolestaan selvittää eri asioita:
    <ul>
      <li>Korkeuskartan avulla näkee pinnan muodot värisävyerojen perusteella. Erilaiset syvänteet ja matalat kohdat
        erottuvat kartasta.
      </li>
      <li>Korkeuskäyriä voidaan laskea normaalia tiheämmälle välille kuin yleensä maastokartoissa. Esim. 15cm välein
        asetetut
        korkeuskäyrät paljastavat pellon jyrkkyyksiä ja kaatoja.
      </li>
      <li>Valumakartat kertovat veden kulkeutumista pellon pinnalla (ilman imeytymistä). Tämän avulla voidaan arvioida
        veden
        kertymistä eri pellon osiin sateen jälkeen tai keväällä lumen sulamisen jälkeen. Tämä auttaa arvioimaan esim.
        kosteussensorien sijoittelua, salaojituksen sijoittelua tai pellon pinnan muotoilun tarvetta.
      </li>
    </ul>

  </div>

  <p>
  Julkaisu: Korkeuskartat julkaistaan kirjautuneen käyttäjän peltoraporttiin alustavan arvion mukaan 15.1.2022.
  Esimerkkejä löytyy demoraporteista. Julkaisun jälkeen käyttäjiltä odotetaan palautetta ja kehitysideoita.
  </p>

  <div>
    {{#each lidars}}
      <div>
        <div>Pelto: {{ this.fieldId }}</div>
        <img loading="lazy" src="{{this.data}}"/>
      </div>
    {{/each}}

  </div>
</div>

<h3><a id="topic5"></a>Maalajikartat</h3>
<div>
  <p>
    Maalajikarttoja on tehty erilaisia ja eritarkkuuksin Geologian tutkimuslaitoksen toimesta. Datojen avulla pystyy
    saamaan
    karkean arvion pellon maalajeista.
  </p>
  <p>
  <div>
    Maalajikartoista voi selvittää:
    <ul>
      <li>
        pellon maalajien vaihtelua
      </li>
      <li>
        pellon yleistä toiminnallisuutta. Esim. tunnistaa hietaisemmat alueet lohkolta
      </li>
      <li>
        maaperänäytteiden mahdollisia näytteenottopisteitä maalajien eri vyöhykkeiden varmistamiseksi
      </li>
      <li>
        hyvin yleisellä tasolla pellon vedenpidätyskykyä
      </li>
    </ul>
  </div>
  <p>
    Julkaisu: Maalajikartat julkaistaan kirjautuneen käyttäjän peltoraporttiin alustavan arvion mukaan 15.2.2022.
    Esimerkkejä löytyy demoraporteista. Julkaisun jälkeen käyttäjiltä odotetaan palautetta ja kehitysideoita.
  </p>
  <p>
  {{#if soilDescription }}
    <div>
      <div>Selite</div>
      <img loading="lazy" src="{{soilDescription.data}}"/>
    </div>
  {{/if}}

  {{#each soiltypes}}
    <div>
      <div>Pelto: {{ this.fieldId}}</div>
      <img loading="lazy" src="{{this.data}}"/>
    </div>
  {{/each}}
  </p>
</div>
<p>
  Lisää analyyseja julkaistaan aina sen mukaan, kun ne valmistuvat ja edellisten kehitystoimenpiteet on suoritettu.
</p>


<a href="#alku">Siirry alkuun</a>
</body>
</html>
